@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,400;0,500;0,600;1,500&display=swap');

:root {
    --bg-light-mode: #fff;
    --color-light-mode: #000;
    --bg-dark-mode: #252324;
    --color-dark-mode: #fffcf6
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
